@font-face {
  font-family: IranianSanse;
  src: url("./Fonts/IranianSans.ttf");
}
.App {
  width: 100%;
  height: 100vh;
}

body {
  padding: 0;
  margin: 0;
  font-family: IranianSanse;
}
.Header {
  width: 100%;
  height: 150px;
  background: #094c8d;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}
.Header h3 {
  margin: 0;
  padding-top: 70px;
  padding-left: 32px;
  color: #fff;
  font-size: 25px;
}

.Header .Navbar {
  width: 100%;
  height: 37px;
  color: #fff;
  background-color: #ddd;
  position: absolute;
  top: 76%;
}

.Navbar .Links {
  padding-top: 10px;
  text-align: right;
  padding-right: 90px;
  max-height: 80%;
  font-size: 20px;
 margin: 0;
  list-style-type: none;
}

.Navbar .Links li{
  display: inline block;
  float: right;
}

.Navbar .Links a {
  text-decoration: none;
  padding-right: 20px;
    padding-left: 5px;
  color: #f47c35;
  font-weight: 600;
}

@media only screen and (max-width: 850px) {
  .Navbar .Links li {
    font-size: 16px;
  }
}
@media only screen and (max-width: 750px) {
  .Navbar .Links li {
    font-size: 10px;
  }
}
.Sidebar {
  height: 100%;
  width: 250px;
  background-color: #2f4060;
  place-items: center;
}

.SidebarList {
  width: 250px;
  height: auto;
  padding: 0;
  font-size: 20px;
}
@media only screen and (max-width: 850px) {
  .SidebarList{
    font-size: 18px;
  }
}
@media only screen and (max-width: 750px) {
  .SidebarList{
    font-size: 15px;
  }
}
.SidebarList .row {
  width: 100%;
  height: 50px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: #fff;
  justify-content: center;
}
.SidebarList #active {
  background-color: #293846;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: #293846;
}
.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}
.row #title {
  flex: 70%;
  padding-top: 15px;
}
.container {
  display: flex; 
  flex: 70%;
 flex-direction: row; 
}
.container2 {
  display: flex; 
  flex: 70%;
 flex-direction: row; 
}




